# SQLite  
https://youtu.be/pd-0G0MigUA

In [1]:
import sqlite3
from employee import Employee

In [2]:
# create sql database
# conn = sqlite3.connect('employees.db')

# store the db in RAM - useful for debugging
conn = sqlite3.connect(':memory:')

In [3]:
c = conn.cursor()

In [4]:
c.execute("CREATE TABLE employees (first text, last text, pay integer)")

In [5]:
c.execute("INSERT INTO employees VALUES ('Denver', 'Washington', '10000')")
c.execute("INSERT INTO employees VALUES ('Nairobi', 'Washington', '10000')")

c.execute("INSERT INTO employees VALUES ('Tokio', 'Nagasaki', '8000')")
c.execute("INSERT INTO employees VALUES ('Kyoto', 'Nagasaki', '8000')")

In [6]:
c.execute("SELECT * FROM employees WHERE last='Washington'")
print(c.fetchone())

c.execute("SELECT * FROM employees WHERE last='Washington'")
print(c.fetchmany(2))

c.execute("SELECT * FROM employees WHERE last='Washington'")
print(c.fetchall())

('Denver', 'Washington', 10000)
[('Denver', 'Washington', 10000), ('Nairobi', 'Washington', 10000)]
[('Denver', 'Washington', 10000), ('Nairobi', 'Washington', 10000)]

In [7]:
emp1 = Employee('London', 'Birmingham', '9000')
emp2 = Employee('Perth', 'Birmingham', '7000')

print(emp1.first)
print(emp1.last)
print(emp1.pay)

London
Birmingham
9000

In [8]:
c.execute("INSERT INTO employees VALUES (?, ?, ?)", (emp1.first, emp1.last, emp1.pay))
# ... VALUES ('{}', '{}', '{}')".format(emp1.first, emp1.last, emp1.pay)) is not defended against sql injection

c.execute("INSERT INTO employees VALUES (:first, :last, :pay)",
          {'first': emp2.first, 'last': emp2.last, 'pay': emp2.pay})

In [9]:
c.execute("SELECT * FROM employees WHERE last=?", ('Birmingham',))
print(c.fetchall())

c.execute("SELECT * FROM employees WHERE last=:last", {'last': 'Birmingham'})
print(c.fetchall())

[('London', 'Birmingham', 9000), ('Perth', 'Birmingham', 7000)]
[('London', 'Birmingham', 9000), ('Perth', 'Birmingham', 7000)]

In [10]:
def insert_emp(emp):
    with conn:
        c.execute("INSERT INTO employees VALUES (:first, :last, :pay)",
                  {'first': emp.first, 'last': emp.last, 'pay': emp.pay})

def get_emps_by_name(lastname):
    c.execute("SELECT * FROM employees WHERE last=:last", {'last': lastname})
    return c.fetchall()

def update_pay(emp, pay):
    with conn:
        c.execute("""UPDATE employees SET pay = :pay
                    WHERE first = :first AND last = :last""",
                  {'first': emp.first, 'last': emp.last, 'pay': pay})

def remove_emp(emp):
    with conn:
        c.execute("DELETE from employees WHERE first = :first AND last = :last",
                  {'first': emp.first, 'last': emp.last})

In [11]:
emp1 = Employee('Sydney', 'Brisbane', 5000)
emp2 = Employee('Canberra', 'Brisbane', 4000)

In [12]:
insert_emp(emp1)
insert_emp(emp2)

In [13]:
emps = get_emps_by_name('Brisbane')
print(emps)

update_pay(emp2, 5000)
remove_emp(emp1)
emps = get_emps_by_name('Brisbane')
print(emps)

[('Sydney', 'Brisbane', 5000), ('Canberra', 'Brisbane', 4000)]
[('Canberra', 'Brisbane', 5000)]

In [14]:
conn.close()