# Series  
https://youtu.be/zmdjNSmRXF4

In [1]:
import pandas as pd

In [2]:
people = {
    'first': ['Lukin', 'Nairobi', 'Denver'],
    'last': ['Kratas', 'Clark', 'Spain'],
    'email': ['lukin.kratas@email.com', 'nairobi.clark@email.com', 'denver.spain@email.com'],
}

In [3]:
df = pd.DataFrame(people)
df

     first    last                    email
0    Lukin  Kratas   lukin.kratas@email.com
1  Nairobi   Clark  nairobi.clark@email.com
2   Denver   Spain   denver.spain@email.com

In [4]:
print(df['email'])
print()
print(df.email)
print()
print(type(df.email))

0     lukin.kratas@email.com
1    nairobi.clark@email.com
2     denver.spain@email.com
Name: email, dtype: object

0     lukin.kratas@email.com
1    nairobi.clark@email.com
2     denver.spain@email.com
Name: email, dtype: object

<class 'pandas.core.series.Series'>

In [5]:
print(df[['last', 'email']])
print()
print(type(df[['last', 'email']]))

     last                    email
0  Kratas   lukin.kratas@email.com
1   Clark  nairobi.clark@email.com
2   Spain   denver.spain@email.com

<class 'pandas.core.frame.DataFrame'>

In [6]:
print(df.columns)

Index(['first', 'last', 'email'], dtype='object')

In [7]:
# iloc = integered location
print(df.iloc[0])
print()
print(df.iloc[[0, 1]])
print()
print(df.iloc[[0, 1], [1, 2]])

first                     Lukin
last                     Kratas
email    lukin.kratas@email.com
Name: 0, dtype: object

     first    last                    email
0    Lukin  Kratas   lukin.kratas@email.com
1  Nairobi   Clark  nairobi.clark@email.com

     last                    email
0  Kratas   lukin.kratas@email.com
1   Clark  nairobi.clark@email.com

In [8]:
# loc = labeled location
print(df.loc[0])
print()
print(df.loc[[0, 1], ['last', 'email']])

first                     Lukin
last                     Kratas
email    lukin.kratas@email.com
Name: 0, dtype: object

     last                    email
0  Kratas   lukin.kratas@email.com
1   Clark  nairobi.clark@email.com

In [9]:
schema_df = pd.read_csv('survey_results_schema.csv')
df = pd.read_csv('survey_results_public.csv')
pd.set_option('display.max_columns', 85)

In [10]:
df.shape

(88883, 85)

In [11]:
df.columns

Index(['Respondent', 'MainBranch', 'Hobbyist', 'OpenSourcer', 'OpenSource',
       'Employment', 'Country', 'Student', 'EdLevel', 'UndergradMajor',
       'EduOther', 'OrgSize', 'DevType', 'YearsCode', 'Age1stCode',
       'YearsCodePro', 'CareerSat', 'JobSat', 'MgrIdiot', 'MgrMoney',
       'MgrWant', 'JobSeek', 'LastHireDate', 'LastInt', 'FizzBuzz',
       'JobFactors', 'ResumeUpdate', 'CurrencySymbol', 'CurrencyDesc',
       'CompTotal', 'CompFreq', 'ConvertedComp', 'WorkWeekHrs', 'WorkPlan',
       'WorkChallenge', 'WorkRemote', 'WorkLoc', 'ImpSyn', 'CodeRev',
       'CodeRevHrs', 'UnitTests', 'PurchaseHow', 'PurchaseWhat',
       'LanguageWorkedWith', 'LanguageDesireNextYear', 'DatabaseWorkedWith',
       'DatabaseDesireNextYear', 'PlatformWorkedWith',
       'PlatformDesireNextYear', 'WebFrameWorkedWith',
       'WebFrameDesireNextYear', 'MiscTechWorkedWith',
       'MiscTechDesireNextYear', 'DevEnviron', 'OpSys', 'Containers',
       'BlockchainOrg', 'BlockchainIs', 'BetterLife', 'ITperson', 'OffOn',
       'SocialMedia', 'Extraversion', 'ScreenName', 'SOVisit1st',
       'SOVisitFreq', 'SOVisitTo', 'SOFindAnswer', 'SOTimeSaved',
       'SOHowMuchTime', 'SOAccount', 'SOPartFreq', 'SOJobs', 'EntTeams',
       'SOComm', 'WelcomeChange', 'SONewContent', 'Age', 'Gender', 'Trans',
       'Sexuality', 'Ethnicity', 'Dependents', 'SurveyLength', 'SurveyEase'],
      dtype='object')

In [12]:
df['Hobbyist']

0        Yes
1         No
2        Yes
3         No
4        Yes
        ...
88878    Yes
88879     No
88880     No
88881     No
88882    Yes
Name: Hobbyist, Length: 88883, dtype: object

In [13]:
df['Hobbyist'].value_counts()

Yes    71257
No     17626
Name: Hobbyist, dtype: int64

In [14]:
print(df.loc[[0, 1, 2, 3, 4], 'Hobbyist':'OpenSourcer'])
print()
print(df.loc[range(5), 'Hobbyist':'OpenSourcer'])
print()
print(df.loc[0:4, 'Hobbyist':'OpenSourcer'])

  Hobbyist                 OpenSourcer
0      Yes                       Never
1       No     Less than once per year
2      Yes                       Never
3       No                       Never
4      Yes  Once a month or more often

  Hobbyist                 OpenSourcer
0      Yes                       Never
1       No     Less than once per year
2      Yes                       Never
3       No                       Never
4      Yes  Once a month or more often

  Hobbyist                 OpenSourcer
0      Yes                       Never
1       No     Less than once per year
2      Yes                       Never
3       No                       Never
4      Yes  Once a month or more often